{{#app-section}}
  {{#app-block}}
    {{ui-file multiple=true update=(action 'files')}}
  {{/app-block}}
{{/app-section}}

{{#app-section}}
  {{#if batch.valid}}
    {{app-row key='Total' value=(concat batch.valid.length ' files')}}
    {{app-row key='Uploaded' value=(concat batch.uploaded.length ' files')}}
    {{#if batch.took}}
      {{app-row key='Took' value=(concat batch.took ' seconds')}}
    {{/if}}
  {{/if}}
{{/app-section}}

{{#app-section}}
  {{#if batch.pending}}
    {{#app-block}}
      {{app-button label=(l 'Upload selected files') action=(action 'upload')}}
    {{/app-block}}
  {{/if}}
{{/app-section}}

{{#if batch.pending}}
  {{#app-section}}
    {{#app-block}}
      {{#each batch.pending as |file|}}
        <div>
          {{file.name}} –
          {{concat '#' (pad file.group 4)}} / {{pad file.image 3}}
          {{#if file.isUploading}}
            – Uploading…
          {{else if file.isUploaded}}
            – Uploaded
          {{else if file.isError}}
            – {{file.error.message}}
          {{/if}}
        </div>
      {{/each}}
    {{/app-block}}
  {{/app-section}}
{{/if}}
