{{#app-section}}
  {{#app-block}}
    {{ui-file multiple=true update=(action 'files')}}
  {{/app-block}}
{{/app-section}}

{{#if batch.files}}

  {{#app-section title='Selected files'}}
    {{#app-block}}
      {{#each batch.files as |file|}}
        <div>
          {{pad file.group 3}} / {{pad file.image 3}}
          {{#if file.isUploading}}
            – Uploading…
          {{else if file.isUploaded}}
            – Uploaded
          {{else if file.isError}}
            – {{file.error.message}}
          {{/if}}
        </div>
      {{/each}}
    {{/app-block}}
  {{/app-section}}

  {{#app-section}}
    {{#app-block}}
      {{app-button label=(l 'Upload')}}
    {{/app-block}}
  {{/app-section}}

{{/if}}
