{{#app-section}}

  {{#if user.isLoading}}
    {{app-row icon='roles' value=(l 'Loading…')}}
  {{else}}
    {{#if user.exists}}
      {{#if user.roles}}
        {{#app-row icon='roles'}}
          {{app-span value=(l 'Roles:')}}
          <span class="comma-list">{{#each user.roles as |role|}}{{app-span value=(l role) class="item"}}{{/each}}</span>
        {{/app-row}}
      {{else}}
        {{app-row icon='error' value=(l "Sorry, you're not allowed to access this app.")}}
      {{/if}}
    {{else}}
      {{app-row icon='error' value=(l 'No user information available')}}
    {{/if}}
  {{/if}}

  {{app-row icon='log-out' value=(l 'Sign out') action=(action 'logout')}}

{{/app-section}}
