{{#if images.content}}
  <div class="ui-grid">
    {{#each images.content as |image|}}
      <div class="item" {{action 'image' image}}>
        {{ui-image
            class='image'
            src=image.data.storage.200x200.url
            width=image.data.storage.200x200.size.width
            height=image.data.storage.200x200.size.height
        }}
        <div class="description">{{concat '#' (pad image.data.identifier 2)}}</div>
      </div>
    {{/each}}
  </div>
{{else}}
  {{app-row icon='error' value='No images uploaded yet'}}
{{/if}}
